/******* Fonts *******/
/* @import url(https://tools-static.wmflabs.org/fontcdn/css?family=Roboto); */

/******* Apparently this is needed for the HTML5 tags in older browsers *******/
section, footer, aside, nav, main, article {
	display: block;
}

/******* Normalise body *******/
html, body {
	margin: 0;
	background: #fff;
	padding: 0;
	height: 100%;
}
body {
	overflow: auto;
}
body::before, body::after {
	content: normal !important;
}

/***** Scrollbar (doesn't work on IE/FF) *****/
::-webkit-scrollbar { /* Minimize. */
	width: 1px;
	height: 1px;
}
::-webkit-scrollbar-thumb { /* I like black. */
	background: #000;
}
::-webkit-scrollbar-track-piece {
	background: transparent;
}

/******* Styling for the panels *******/
body {
	display: flex;
	flex-direction: column;
	background: none !important;
	margin: 0 4px;
	line-height: 20px;
	font-size: 13px;
	font-family: 'Roboto', 'Helvetica', 'Calibri', sans-serif;
}
#resultWindow {
	flex-grow: 1;
	/*resize: vertical;*/
	border: 1px solid #000;
	overflow: auto;
	padding: 0.5em;	
	min-height: 270px !important; /* important to prevent inline styles from resizing to smaller sizes */
}
tr[data-line]:not(.lineheader) {
	cursor: pointer;
}
#inputsWindow {
	border-bottom: 1px solid #aaa;
	padding-bottom: 30px;
	max-height: 355px;
	min-height: 355px;
}
#inputsBox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 100%;
}
.boxLabel {
	display: block;
	padding: 0 0.2em 1px;
	font-weight: bold;
	font-size: 85%;
}
#articleBox {
	margin: 5px 5px 0 0;
	height: 100%;
	width: 200px;
	min-width: 200px !important;
	z-index: 25;
}
[dir="rtl"] #articleBox {
	margin-right: unset;
	margin-left: 5px;
}
#articleList {
	word-break: break-all;
}
/* .firstpage { See JWB.highlight (.js line 614).
	background-color: #77f;
	color: #000;
} */
#tabs {
	margin: 5px 5px 0 0;
	height: 100%;
	width: 300px;
	min-width: 300px;
}
[dir="rtl"] #tabs {
	margin-right: unset;
	margin-left: 5px;
}
#editBox {
	flex-grow: 1;
	margin: 5px 0 0 0;
	height: 100%;
}
#editBoxArea {
	resize: vertical;
	z-index: 30;
}

#statusBar {
	position: relative;
	border: 1px solid #000;
	background: white;
	padding: 0 3px;
	height: 20px;
	z-index: 20;
}
#status {
	display: flex;
	align-items: center;
	overflow: hidden;
	white-space: pre;
}
#stats {
	display: flex;
	padding-top: 3px;
}
.statsLabel {
	margin-right: 1em;
}
[dir="rtl"] .statsLabel {
	margin-right: unset;
	margin-left: 1em;
}
.statsNumber {
	margin-left: 3px;
}
[dir="rtl"] .statsNumber {
	margin-left: unset;
	margin-right: 3px;
}
#statusLoader {
	right: 7px;
	bottom: 4px;
}
[dir="rtl"] #statusLoader {
	right: 3px;
}

/***** Catlinks (may come in handy) *****/
/* For attribution: //en.wikipedia.org/w/load.php?lang=en&modules=skins.vector.styles.legacy&only=styles&skin=vector */
/* .catlinks {
	margin-top: 1em;
	border: 1px solid #a2a9b1;
	padding: 5px;
	background-color: #f8f9fa;
	clear: both;
}
.catlinks ul {
	display: inline;
	padding: 0;
	list-style: none;
}
.catlinks li {
	display: inline-block;
	margin: 0.125em 0;
	border-left: 1px solid #a2a9b1;
	padding: 0 0.5em;
	line-height: 1.25em;
}
.catlinks li:first-child {
	border-left: 0;
	padding-left: 0.25em;
}
.catlinks li a.mw-redirect {
	font-style: italic;
} */

/******* Util/UX (buttons/loaders) *******/
body.JWB fieldset {
	padding: 0 5px 5px;
	line-height: inherit;
	border: 1px solid #000; /* Formerly 2F6FAB. */
	margin: 2px 0;
}
fieldset:not(.popupFieldset) > legend::before {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmBBUAKiYj6BqHAAAAP0lEQVQY02NgGCLAk+ElgyduyR8Mhxh+YFfgzvCdoYOBgaGB4SeDLzadjVB2I8MPBg9U6QMMDUi8BoYDgz6cALJKDk/3LFwEAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA0LTIxVDAwOjQyOjM4KzAwOjAwuLxJ/QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNC0yMVQwMDo0MjozOCswMDowMMnh8UEAAAAASUVORK5CYII=);
	position: relative;
	top: 2px;
	margin-right: 5px;
	height: 20px; /* Same with line-height. */
}
fieldset.collapsedFieldset:not(.popupFieldset) > legend::before {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflCQYOCiEePsjiAAAAR0lEQVQY02NgGPTgAEMDEq+B4QCqtCfDD4ZGKLuR4QeDB7p+d4bvDJ0MDAyNDD8ZfLFZ4Mnwg+EQww8GT1wu8GR4iVtykAEAQdcOUbTq/YsAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMDktMDZUMTQ6MTA6MzMrMDA6MDC1Ob9VAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIxLTA5LTA2VDE0OjEwOjMzKzAwOjAwxGQH6QAAAABJRU5ErkJggg==);
}
[dir="rtl"] fieldset:not(.popupFieldset) > legend::before {
	margin-right: unset;
	margin-left: 5px;
}
textarea:not(.replaceText):not(.replaceWith):not(#smwquery) {
	width: 100%;
	min-width: 100% !important; /* important to prevent inline styles from resizing to smaller sizes */
	height: 100%;
	min-height: 100% !important;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #888; /* Same color as tabs */
}
hr {
	margin: 0.15em 0;
	border-width: 0;
	height: 1px;
	background-color: #A2A9B1;
}
input[type="text"], input[type="number"],
input[type="datetime-local"], select {
	border-radius: 0 !important; /* No curves. */
}
input[type="checkbox"], input[type="radio"] {
	margin: 0 !important;
}
button, .button {
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(#eee, #eee, #eee); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(50%, #ccc), color-stop(100%, #ddd)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(#eee, #ccc, #ddd); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(#eee, #ccc, #ddd); /* Opera 11.10+ */
	background: -ms-linear-gradient(#eee, #ccc, #ddd); /* IE10+ */
	background: linear-gradient(#eee, #ccc, #ddd); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ccc', GradientType=0); /* IE6-9 */
	border: 1px solid #999;
	border-radius: 3px;
	padding: 0 6px;
	margin: 2px;
	cursor: default;
	color: #333;
	font: 13px/20px arial;
	display: inline-block;
}
button:hover, .button:hover {
	background: #ddf; /* Old browsers */
	background: -moz-linear-gradient(#eee, #ccf, #ddf); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(50%, #ccf), color-stop(100%, #ddf)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(#eee, #ccf, #ddf); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(#eee, #ccf, #ddf); /* Opera 11.10+ */
	background: -ms-linear-gradient(#eee, #ccf, #ddf); /* IE10+ */
	background: linear-gradient(#eee, #ccf, #ddf); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef', endColorstr='#ccf', GradientType=0); /* IE6-9 */
	color: #333;
}
button:active, .button:active {
	background: #ccf; /* Old browsers */
	background: -moz-linear-gradient(#ccf, #ddf, #eee); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccf), color-stop(50%, #ddf), color-stop(100%, #eee)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(#ccf, #ddf, #eee); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(#ccf, #ddf, #eee); /* Opera 11.10+ */
	background: -ms-linear-gradient(#ccf, #ddf, #eee); /* IE10+ */
	background: linear-gradient(#ccf, #ddf, #eee); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccf', endColorstr='#eef', GradientType=0); /* IE6-9 */
	color: #333;
}
button, button:hover, button:active,
.button, .button:hover, .button:active,
input[type="checkbox"], input[type="checkbox"] + .checkboxLabel,
input[type="radio"], input[type="radio"] + .radioLabel { /* , select, option */
	cursor: pointer;
}
[disabled], [class*="disabled"],
[disabled] + span, [class*="disabled"] + span {
	cursor: not-allowed !important;
}
button[disabled], button[disabled]:hover, button[disabled]:active,
.button.disabled, .button.disabled:hover, .button.disabled:active {
	background: #eee;
	color: #000;
	border: 1px solid #555;
	opacity: 0.6;
}
.button input[type="file"] {
	position: fixed;
	visibility: hidden;
}
textarea:focus, /* So as not to hide scroll bars. */
input[type="text"]:focus, input[type="number"]:focus,
input[type="datetime-local"]:focus, select:focus { /* I'm tired with :focus { outline-color: #36c }. */
	outline-style: solid;
	outline-color: #000;
	outline-width: 1px;
}
/* For attribution: //loading.io/css (CC0) */
.loader-wrapper, .loader {
	display: inline-block;
	position: relative;
}
.loader .loader-items {
	transform-origin: 40px 40px;
}
.loader .loader-items::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 4px;
	left: 36px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #000;
}
@keyframes loader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/******* Interface *******/
#tabs .JWBtabc {
	display: none;
	position: relative;
	margin-top: -1px;
	margin-bottom: -22px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #000;
	overflow: auto;
	height: 100%;
	padding: 3px 3px 25px;
}
#tabs .JWBtabc.active {
	display: block;
}
.JWBtabc input[type="text"],
.JWBtabc input[type="number"],
.JWBtabc input[type="datetime-local"],
.JWBpopup input[type="text"],
.JWBpopup input[type="number"],
.replaceText, .replaceWith {
	border: 1px solid #bbb;
	padding: 2px;
}
.replaceText, .replaceWith {
	font-family: monospace, monospace;
}
#tabholder {
	display: flex;
	justify-content: space-between;
}
#tabholder div {
	display: flex;
}
#tabholder div[data-nav] {
	display: none;
}
#tabholder div[data-nav].active {
	display: flex;
}
#tabholder > div:first-child span:not(:first-child) {
	margin-left: 3px;
}
[dir="rtl"] #tabholder > div:first-child span:not(:first-child) {
	margin-left: unset;
	margin-right: 3px;
}
#tabholder > div:last-child span:not(:last-child) {
	margin-right: 3px;
}
[dir="rtl"] #tabholder > div:last-child span:not(:last-child) {
	margin-right: unset;
	margin-left: 3px;
}
#zero img {
	height: 15px;
	width: 15px;
	aspect-ratio: 1 / 1;
}
.JWBtab.log {
	font-weight: bold;
}
.JWBtabc.log {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 1.5em;
}

.JWBtab {
	padding: 0 3px;
	border: 1px solid #000;
	border-radius: 3px 3px 0 0;
	background: #fff;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
}
.JWBtab:hover {
	background: #ddd;
}
.JWBtab:active {
	background: #bbb;
}
.JWBtab.active {
	background: #bbe;
	border-bottom: 1px solid #bbe;
}

/******* Layout (Tabs/Popups) *******/

/***** Common things *****/
fieldset.disabled {
	border: 1px solid #767676 !important;
	opacity: 0.7;
}
fieldset > legend {
	cursor: pointer;
	padding: 0 5px;
	font-size: 100%;
}
select option[value=""],
select option[value="0"] {
	font-style: italic;
}
.tripleCheckboxCheckboxes > label[data-label="checkbox"],
.tripleRadioRadios > label[data-label="radio"],
.JWBtabc[data-tab="3"] .tripleRadio > label[data-label="radio"],
.JWBtabc[data-tab="-2"] .readdLine > label {
	flex-basis: calc(100% / 3);
}
.doubleCheckboxCheckboxes > label[data-label="checkbox"],
.doubleRadioRadios > label[data-label="radio"] {
	flex-basis: calc(100% / 2);
}
label[data-label="checkbox"], label[data-label="radio"] {
	display: flex;
}
label[data-label="checkbox"] > input[type="checkbox"],
label[data-label="radio"] > input[type="radio"] {
	align-self: center;
}
.startstops {
	display: flex;
}
.JWBtabc[data-tab="2"] .startstops {
	flex-direction: column;
}
.starts { /* #startbutton, #startOther, #startLog */
	color: #080;
}
.stops { /* #stopbutton, #stopOther, #stopLog */
	color: #f00;
}
.regexswitch, .ignoreswitch {
	display: flex;
	align-items: center;
}
.regexswitch {
	font-style: italic;
}
/* .re101 {
	font-size: 70%;
	vertical-align: super;
	text-decoration: none;
	border-bottom: 1px dotted #000;
	cursor: help;
} */
.regexFlagsLabel {
	display: flex;
}
.regexFlagsLabel input[type="text"] {
	margin-left: 5px;
	margin-bottom: 0 !important;
	padding: 0 2px !important;
	width: 30px;
}
.checkboxLabel, .radioLabel { /* Labels for checkboxes. */
	margin-left: 3px;
}
[dir="rtl"] .checkboxLabel,
[dir="rtl"] .radioLabel {
	margin-left: unset;
	margin-right: 3px;
}
.flexCenter { /* Labels for inline inputs. */
	align-self: center;
}
.flexStart { /* Labels for block inputs. */
	align-self: flex-start;
}
.divisorWrapper {
	align-self: center;
}
.divisor {
	margin: 0 5px;
	border-left: 1px solid #aaa;
}
.floatLabel { /* #minorEditLabel */
	position: absolute;
	z-index: 5;
}
.inputFlex > textarea,
.inputFlex > input[type="text"],
.inputFlex > input[type="number"],
.inputFlex > input[type="datetime-local"] {
	margin: 2px 0;
	width: 80%;
}
.fullwidthFlex {
	display: flex;
	flex-direction: column;
}
.fullwidth {
	align-self: stretch;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	z-index: 100; /* So that stopLog won't stuck with readds */
}
.fullwidthFlex:not(:last-child) {
	margin-bottom: 4px;
}

/***** Tabs *****/
/*** Tab 1 ***/
.JWBtabc[data-tab="1"] .collapsibleFieldset {
	display: flex;
	flex-direction: column;
}
#pagelist > .collapsibleFieldset > div,
#settings > .collapsibleFieldset > div,
#limits > .collapsibleFieldset > label,
#removeDupesUniqsButtons,
#articleListTopBot,
#articleListSortFilter {
	display: flex;
	align-items: center;
}
#limits > .collapsibleFieldset > label {
	justify-content: space-between;
}

#removeDupesUniqsButtons {
	margin-left: 5px;
}
[dir="rtl"] #removeDupesUniqsButtons {
	margin-left: unset;
	margin-right: 5px;
}
#pagelistButton {
	font-weight: bold;
}

#loadSettingsLabel {
	display: flex;
	align-items: center;
}
#loadSettings {
	align-self: stretch;
	margin: 0 2px 0 5px;
}
[dir="rtl"] #loadSettings {
	margin: 0 5px 0 2px;
}
#settings .withImage::after {
	margin-left: 3px;
}
[dir="rtl"] #settings .withImage::after {
	margin-left: unset;
	margin-right: 3px;
}
#saveAs::after {
	content: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAMElEQVQY02NgQAX/GYgE5ClkRBNgxKWQkPH/WQgoZmRgYGBgIsaBLDjcw4DP4VgBAMy1CQeFLw4MAAAAAElFTkSuQmCC');
}
#updateSetups::after {
	content: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJAQMAAAA1nf9tAAAABlBMVEVwAAAAAACuRbQOAAAAAXRSTlMAQObYZgAAABpJREFUeF5jkGFYxHCQ4SEDA0M7QzODK4MFACYrA+hkjEi+AAAAAElFTkSuQmCC');
}
#importLabel::after {
	content: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKAQMAAABcy+b9AAAABlBMVEVwAAAAAACuRbQOAAAAAXRSTlMAQObYZgAAAB1JREFUeF5j4GBgkGFgsGMAMV43MHTAUEMDw/8GAEkxB20iTmm8AAAAAElFTkSuQmCC');
}
#deleteSetup::after {
	content: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABVJREFUeF5jOMbwjqGGwQKI3zEcAwAgNgSZRG9YDAAAAABJRU5ErkJggg==');
}
#saveToWiki::after {
	content: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAIAQMAAAARA0f2AAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAAB9JREFUeF4FwLERADAEAMAfXTKDRmFQFUcYPknRPNYBP0QFRpaso0EAAAAASUVORK5CYII=');
}
#download::after {
	content: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKAQMAAABcy+b9AAAABlBMVEVwAAAAAACuRbQOAAAAAXRSTlMAQObYZgAAAB1JREFUeF5j4GCAotcNDB0NDPsaGOaAGQ0NDP8bAFrICG2BvdHlAAAAAElFTkSuQmCC');
}
#downloads {
	display: none;
}

#limits input {
	box-sizing: border-box;
	margin: 2px 0;
	padding-right: 22px;
	width: 100px;
	text-align: right;
}
#timelimitLabel, #sizelimitLabel {
	position: relative;
}
#timelimitLabel::after,
#sizelimitLabel::after {
	position: absolute;
	bottom: 3px;
	font-style: italic;
	font-family: monospace, monospace;
}
#timelimitLabel::after,
#sizelimitLabel::after {
	right: 5px;
}
[dir="rtl"] #timelimitLabel::after,
[dir="rtl"] #sizelimitLabel::after {
	right: unset;
	left: 81px;
}
#timelimitLabel::after {
	content: 'ms';
}
#sizelimitLabel::after {
	content: 'ch';
}

/*** Tab 2 ***/
#minorEditLabel {
	right: 4px; /* 3px padding of section.JWBtabc + 1px. */
}
[dir="rtl"] #minorEditLabel {
	right: unset;
	left: 3px;
}
#watchOption {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}
#watchPage {
	flex-grow: 1;
	align-self: stretch;
	font-size: 0.95em;
}
#watchNow {
	margin: 0;
	white-space: pre;
}
#throttleOption {
	display: flex;
	align-items: center;
}
#throttleLabel {
	display: flex;
	align-items: center;
}
#throttle {
	margin: 0 5px;
	width: 30px;
}
/* 
.viaJWB #summary {
	width: 100%;
	padding-right: 92px; No .viaJWB::after, no padding-right
}
.viaJWB::after {
	content: " (via JWB)";
	position: absolute;
	right: 0;
	bottom: 5px;
	border-radius: 0 5px 5px 0;
	background: #ccc;
	padding-left: 3px;
	width: 85px;
	font-size: 12px;
}
*/

#buttonsArea {
	display: flex;
	justify-content: space-between;
}
#mainButtons {
	display: flex;
	flex-direction: column;
}
#mainButtons > div {
	display: flex;
	justify-content: center;
}
.editbutton {
	flex-grow: 1;
	margin: 2px;
	padding: 10px;
	height: auto;
	font-size: 115%;
}
#skipButton, #skipPage {
	color: #a33;
}
#submitButton {
	color: #262;
	font-weight: bold;
}
#previewButton {
	color: #33f;
}
#diffButton {
	color: #b62;
}
#buttonsArea > div:last-child {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.JWBtabc[data-tab="2"] .replaceText,
.JWBtabc[data-tab="2"] .replaceWith {
	width: 200px;
	max-height: 1.5em;
	height: 1.5em;
	min-height: 1.5em;
}

#RETF {
	display: flex;
	align-items: center;
}
#refreshRETF {
	cursor: pointer;
	align-self: center;
	margin-left: 6px;
	height: 10px;
	width: 10px;
	aspect-ratio: 1 / 1;
}
[dir="rtl"] #refreshRETF {
	margin-left: unset;
	margin-right: 5px;
}
#loadingRETF {
	right: 5px;
	bottom: 3px;
}
[dir="rtl"] #loadingRETF {
	right: unset;
	left: -3px;
}
#skipRETF {
	display: none; /* JS overrides this when RETF is enabled */
	margin-top: 0;
	margin-left: 2em;
}
[dir="rtl"] #skipRETF {
	margin-left: unset;
	margin-right: 2em;
}

/*** Tab 3 ***/
.JWBtabc[data-tab="3"] .tripleRadio {
	display: flex;
	justify-content: space-between;
}

/*** Tab 4 ***/
.JWBtabc[data-tab="4"] button {
	margin: 0 !important;
}
.otherOptionLabels {
	display: flex;
	justify-content: space-between;
}
.otherOptionLabels > select,
.otherOptionLabels > input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 2px 0;
	width: 60%;
	padding: 2px;
}
#movealsoOptions {
	display: flex;
	float: right;
	width: 60%;
	justify-content: space-between;
}
#movealsoOptions > label {
	flex-basis: calc(100% / 2);
	justify-content: center;
}
#moveTo {
	margin: 0;
}

#rightGrantRevoke {
	float: right;
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
}
#rightSummary {
	margin: 0 1px 0 0;
}
[dir="rtl"] #rightSummary {
	margin: 0 0 0 1px;
}
#rightGrant, #rightRevoke {
	font-family: monospace, monospace;
}
#otherButtons {
	display: flex;
	margin-top: 3px;
	justify-content: space-between;
}
#movePage {
	color: #262;
}
#deletePage {
	color: #f00;
}
#protectPage {
	color: #00f;
}

/*** Tab -2 ***/
.JWBtab[data-tab="-2"] .collapsibleFieldset,
.readdLine {
	display: flex;
	justify-content: space-between;
}
.JWBtab[data-tab="-2"] .collapsibleFieldset {
	flex-direction: column;
}
#readd-allLabel {
	right: 10px; /* Don't know why is that. */
}
[dir="rtl"] #readd-allLabel {
	right: unset;
	left: 10px;
}
.readd-ab {
	display: flex;
	justify-content: space-between;
}
#readd-after, #readd-before {
	font-size: 0.9em;
	font-family: inherit;
}
#readdButtons {
	display: flex;
	justify-content: space-between;
	top: 0;
}
#readdButtons div {
	display: flex;
}
#readdPreviewArea {
	margin-bottom: 25px;
}

/*** Tab -1 ***/
.JWBtabc[data-tab="-1"] button {
	margin: 1px;
}
#logButtons {
	display: flex;
	justify-content: space-between;
	top: 0;
	margin-bottom: 3px;
}
#clearLog {
	display: flex;
}
#clearLogButtonYes, #clearLogButtonNo {
	display: none;
}
#actionlog {
	border-collapse: collapse;
	table-layout: fixed;
	word-wrap: break-word;
	width: 100%;
}
.tableRow {
	border: 1px solid #aaa;
	font-size: 0.75em;
}
/* #actionlog td:last-child {
	width: 10%;
} */
.timestampCell, .actionCell,
.extraInfoCell, .readdButtonCell {
	text-align: center;
}
.timestampCell {
	width: 15%;
	line-height: 1em;
	font-size: 0.75em;
}
.actionCell {
	width: 10%;
}
.pageNameCell {
	width: 55%;
}
.extraInfoCell,
.readdButtonCell {
	width: 10%;
}
.readdButton {
	font-family: monospace, monospace;
}

/***** Popup window *****/
#overlay {
	z-index: 40;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
}
.JWBpopup {
	position: fixed;
	z-index: 50;
	top: 10%;
	left: 20%;
	box-sizing: border-box;
	width: 60%;
	height: 80%;
	border: 2px solid #000;
	padding: 1em;
	overflow: auto;
	background: #eee;
}
@media only screen and (max-width: 950px) {
	.JWBpopup {
		left: 10%;
		width: 80%;
	}
}
.namespaceFilter { /* Formerly #ns-filter. */
	/* position: absolute;
	right: 0;
	top: 0;
	bottom: 0; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
	text-align: center;
}
.namespaceList {
	overflow: auto;
}
.namespaceList > option {
	box-sizing: border-box;
	padding: 2px 4px;
}
.popupForm {
	display: flex;
	flex-direction: row-reverse;
	/* padding-right: 195px; same as #ns-filter width + margin */
	height: 100%;
}
[dir="rtl"] .popupForm {
	margin-left: unset;
	margin-right: 10px;
}
.popupFieldsets {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 10px;
}
.popupFieldsets > div:last-child {
	padding: 1em 0;
}
.popupFieldset > legend > label {
	cursor: pointer;
}
.inputFlex,
.tripleCheckbox, .doubleCheckbox,
.tripleRadio, .doubleRadio {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tripleCheckboxCheckboxes, .doubleCheckboxCheckboxes,
.tripleRadioRadios, .doubleRadioRadios {
	display: flex;
	width: 80%; /* Similar to #pagelistPopup input[type="text"]. */
	justify-content: space-between;
}
textarea.replaceText,
textarea.replaceWith,
#smwquery {
	margin: 2px 0;
	box-sizing: content-box;
	resize: none;
	max-height: 30em;
	height: 1.5em;
	min-height: 1.5em;
	max-width: 80%;
	width: 80%;
	min-width: 80%;
	padding: 2px;
	line-height: 1.5em;
}

#replacesPopup > .sticky {
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	margin: 0;
}
#replacesPopup > .sticky > button {
	margin: 0;
}
#moreReplacesBorder {
	margin-top: 0.3em;
	border-bottom: 2px dashed #bbb;
	background-color: transparent;
}
#replacesPopup .replaces,
#replacesPopup .fieldsetPlaceholder {
	margin: 4px 0;
	border: dashed #bbb;
	padding-bottom: 4px;
}
#replacesPopup .replaces {
	display: flex;
	flex-direction: column;
	border-width: 0 0 2px;
}
#replacesPopup .replaces.sortable {
	cursor: grab;
}
#replacesPopup .replaces.sortable:active {
	cursor: grabbing;
}
#replacesPopup .ui-sortable-placeholder { /* .fieldsetPlaceholder */
	visibility: visible !important;
	border-width: 0 2px 2px;
}
/* #replacesPopup .switches {
	align-self: flex-end;
	float: right;
	height: 0;
} */
#replacesPopup .removeThis {
	float: right;
	margin: 0;
}
[dir="rtl"] #replacesPopup .removeThis {
	float: left;
}

#rnlimit {
	text-align: right;
}
.listSMW {
	display: none;
}
.hasSMW .listSMW {
	display: block;
}
#smwquery {
	min-height: 6em;
}
#pagelistLoader {
	right: 9px;
	bottom: 3px;
}
[dir="rtl"] #pagelistLoader {
	right: unset;
}
